.movie-container-watchlist {
  position: relative;
  display: inline-block;
}

.watchlist-buttons {
  position: absolute;
  inset: 0; /* covers the image */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;         /* hidden by default */
  transition: opacity 0.3s ease;
}

.movie-container-watchlist:hover .watchlist-buttons {
  opacity: 1;         /* show on hover */
}

/* Play button centered */
.playBtn-watchlist {
  /* background: rgba(0, 0, 0, 0.6); */
  /* color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 14px; */
  cursor: pointer;
  /* margin-right: 8px; */
  /* font-size: 60px; */
}
.play-watchlist{
    border: none;
    
}


.downloadBtn-watchlist:hover {
  color: red;
}
