.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
     background: black; /*  akantu kubwenge */
    padding: 0.5rem;
    border-radius: 0.5rem;
    opacity: .7;
    backdrop-filter: blur(5rem);
    height: 2rem;
    input{
        width: 0;
        border: none;
        outline: none;  /*  line on the input */
        transition: .8s;
        background: transparent;
        color: rgb(255, 255, 255);
        font-weight: 700;
    }
    a{
        color: red;
    }
   
}
.search-bar:hover input{
    width: 12rem;
}
input:focus{
    outline: none;
}
/* Dropdown container */
.dropdown {
  position: relative;
  /* display: inline-block; */
}

/* Dropdown menu hidden by default */
.dropdown-menu {
  display: none;
  position: absolute;
  text-align: right;
  right: 0;
  margin-top: 1.4rem;
  /* background-color: white; */
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 0.5rem;
  z-index: 10;
  min-width: 8rem;
}

/* Show menu on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}
.search-input{
  border: none;
}
.search-bar{
  /* border-color: aqua; */
  border: none;
}
.user-options:hover,
.nav-links:hover {
  color: #f25b29;
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.searched-movie:hover {
  /* color: #f25b29; */
  transform: scale(1.01);
  transition: all 0.3s ease;
  background: #38364e;
  padding: 10px 20px;
}